/* css that apply to all pages */

/* ----- TAGs ---- */
body {
	background-color: #EBEBEB;
	font-family: 'Open Sans Condensed', sans-serif; 
}


/* ----- IDs ----- */

#menu {
	font-size: 3em;
	margin-right: 5%;
	padding-top: 10%
}

#nav {
	padding-top: 40%;
}

#rectangle {
	width: 300px;
	height:50px;
	background-color: #EF4545;
	padding-left: 25%;
	padding-top: 2%;
	margin-top: 100%;

}
/* ------ CLASSES ----- */

.sidenav-img {
	margin-left: 3%;
	margin-top: 2%;
}

.sidenav {
	font-family: 'Open Sans Condensed', sans-serif;
}
